body {
    background-color: $bg-color;
    color: $fonts-color;
    padding-left: $desktop-size;
}

.avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;

    img {
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid rgb(11, 67, 235);
    }
}

.Side-MyProject,
.Side-About-me,
.Side-Contact {
    background-color: $side-bg-color;
    color: $side-color;
    display: block;
    padding: 1.5rem 1.25rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.Side-MyProject:hover,
.Side-About-me:hover,
.Side-Contact:hover {
    color: $fonts-color;
    background-color: $bg-color;
}

.text-header {
    font-size: 3rem;
}

.text-content {
    font-size: 2rem;
}

.date-project-public,
.project-by {
    font-size: 1rem;
    margin-right: 0.75rem;
}

.project-footer {
    position: absolute;
    bottom:0%;
}

.img-project {
    width: 100%;
}

.project-size {
    margin-bottom: 2rem;
    position: relative;
    max-height: 20rem;
}

.nav-sidebar {
    color: $side-color;
    width: $desktop-size;
    background-color: $side-bg-color;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    overflow: auto;
}

#HelloName {
    background: rgba(0, 0, 0, 0.2);
    color: $fonts-color;
    position: absolute;
    padding: 1.875rem;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 20px;
}

#aboutme{
    padding: 3rem 3rem;
    margin: 2rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
}